@{
    ViewBag.Title = "ChangePassword";
}

<h2><span class="text-primary">ChangePassword</span></h2>
@model OnlineExam.Models.ChangePasswordModel

<p>
    Use the form below to change your password. 
</p>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
            <legend><span class="text-primary">Account Information</span></legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword,new { @class = "form-control" } )
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword,new { @class = "form-control" } )
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword,new { @class = "form-control" } )
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <br />
            <p>
                <button class="btn btn-primary" type="submit" >Change Password</button>
                <a class="btn btn-light text-dark" href="@Url.Action("Details")">Back</a>
            </p>
        </fieldset>
    </div>
}
